* {
    margin: 0 auto;
    box-sizing: border-box;
}


.chess-container {
    width: 600px;
    border: 20px solid green;
}

.tbl {
    border-collapse: collapse;
}

.tbl td {
    width: 70px;
    height: 70px;
    padding: 0
    
}

.tbl th {
    padding: 0;

}

.white {
    background: white;
}

.black {
    background: black;
}

