* {
    margin: 0 auto;
}

.box {
    background-color: white;
    width: 620px;
    height: 620px;
    
}


.tbl {
    border: 20px solid green;
    border-spacing: 10px;
    border-collapse: collapse;
}

.tbl td {
    width: 70px;
    height: 70px;
    margin: 0
    
}

.tbl th {
    padding: 0;

}

.white {
    background: white;
}

.black {
    background: black;
}

